
body{background:#ebebeb;}
/**{box-sizing:content-box;} */

#header{width:120%;
       right:20px;
       position:relative;
       height:100px;
       bottom:25px;
       background:#ffffff; 
       border-bottom:2px solid #cccccc;}


.nameBox{position:relative;
        left:200px;
        width:150px;
        height:100px;
        padding-top:-10px;
        text-align:center;
        font-family:'Georgia', Times, "Times New Roman", serif;
        color:#ebebeb;
        background:teal;}

.links{position:relative;
       left:800px;
       top:-50px;}

a{text-decoration:none;
  display:inline-block;}

a:hover{color:lemonchiffon;}

.mainBodyBox{height:500px;
             width:75%;
             position:relative;
             left:15%;
             bottom:25px;

            margin-right:25%;
            background:#ffffff;}

.aboutMe{position:relative;
         top:40px;
         left:30px;
         color:teal;
        font-family:courier;}  

img{height:300px;
    position:relative;
    top:50px;} 

.bio{width:50%;
     position:relative;
     left:415px;
     font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
     line-height:20px;
     bottom:280px;}

.inputBoxes{
        width:50%;
        position:relative;
        left:100px;
}

.footer{width:100%;
        background:gray;
        height:50px;
        color:#ebebeb;
        text-align:center;
        border-top:5px solid teal;}

h4{color:teal;}

.secondHeader{color:teal;
              position:relative;
              left:20px;
              top:10px;}

.wordsOnPic{position:absolute;
            width:100px;
            height:75px;
            color:teal;}

.mainBodyBoxPort{height:1000px;
                width:75%;
                position:relative;
                left:15%;
                bottom:25px;
                margin-right:25%;
                background:#ffffff;}

.portFooter{width:100%;
            height:1000px;
            background:#777;
            border-top:5px solid teal;
            text-align:center;
            position:relative;
            bottom:20px;
            color:#FFFFFF;}
