
body{background:gray;}
*{box-sizing:content-box;}

#header{width:120%;
       right:20px;
       position:relative;
       height:100px;
       bottom:25px;
       background:royalblue;
       border-bottom:2px solid purple;}

.nameBox{position:relative;
        left:200px;
        width:150px;
        height:100px;
        padding-top:-10px;
        text-align:center;
        font-family:cursive;
        background:red;}

.links{position:relative;
       left:800px;
       top:-50px;}

a{text-decoration:none;
  display:inline-block;}

a:hover{color:lemonchiffon;}

.mainBodyBox{height:500px;
             width:75%;
             position:relative;
             left:15%;
             bottom:25px;

            margin-right:25%;
            background:white;}

.aboutMe{position:relative;
         top:40px;
         left:30px;
        font-family:courier;}  

img{height:300px;
    position:relative;
    top:50px;} 
.bio{width:50%;
     position:relative;
     left:415px;
     bottom:250px;}

.inputBoxes{
        width:50%;
        position:relative;

        left:100px;
}